.header,
.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  margin-bottom: 40px;
}

.left {
  gap: 12px;
}

.heading {
  font-family: MTSWide, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 40px;
}

.userSettings {
  display: flex;
  align-items: center;
  gap: 15px;
}
