.pageHeader {
  font-family: MTSWide, sans-serif;
  font-size: 52px;
  font-weight: 500;
  line-height: 62.4px;
  text-align: center;
}

.activeSelection {
  background-color: #7e7e8e33 !important;
  border-radius: 16px;

  & > .MuiTabs-indicator {
    display: none;
  }
}

.subdivisionsHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parentAccourdeonBox {
  display: flex;
  align-items: center;
  gap: 40px;
}

.childTabBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  text-transform: none;
  color: #000;
}
