.pageHeader {
  font-family: MTSWide, sans-serif;
  font-size: 52px;
  font-weight: 500;
  line-height: 62.4px;
  text-align: center;
}

.activeSelection {
  color: #fff !important;
  background-color: #ff0032 !important;
}

.subdivisionsHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
